@font-face {
    font-family: Airways;
    src: url(../font/Airways.ttf);
}

body {
		font-family: Segoe UI Light;
		color: white;
		margin: 80px 0 0 0 ;
}

#body {
	background-position: center;
	background-image: url(../images/achtergrond3.jpg);
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	font-family: Segoe UI Light;
	text-align: center;
}

.inline {
	display: inline-block;
}

.headerbuttons{
	height:70px;
	width:125px;
	font-size: 20px;
	background: white;
	font-family: Segoe UI;
	border: none;
	color: #303030;
	width: auto;
	padding: 0px 15px 0px 15px;
	transition: 0.4s;
	outline: none;
}

.headerbuttons:hover {
	background: rgba(243, 236, 248, 1)
}

.right {
	float:right;
}

.name {
	font-family: Airways;
	font-size: 30px;
	width: auto;
	margin-left:25px;
}

.header {
	background: white;
	position: fixed;
	top: 0;
	font-family: Segoe UI Light;
	color: black;
	width: 100%;
	max-height: 70px;

}

.opties {
	position: fixed;
	top: 10px;
	right: 10px;
	font-family: Segoe UI;
	color: black;
	border: 3px solid #73AD21;
}

.card-panel {
	background: #f7f7f7;
	padding: 10px 10px 10px 10px;
	font-size: 25px;
	width: 800px;
	height: auto;
	border-radius: 5px;
	color:black;
	box-shadow: 0 2px 5px 0;
	margin-bottom:20px;
}

#welkom	{
	color: #f2f2f2;
	text-align: center;
}

.nextbuttons {
	font-size: 30px;
	background: none;
	border: none;
	font-family: Segoe UI Light;
	text-align: center;
	vertical-align: middle;
    width: 300px;
    height: 70px;
    color: #eaeaea;
    transition: 0.4s;
}

.nextbuttons:hover {
	background: rgba(234,234,234,0.15);
}