* {
	margin:0;
}

@font-face {
    font-family: Airways;
    src: url(../font/Airways.ttf);
}

body {
	font-family: Segoe UI Light;
	background-color: white;
}

.header {
	background: #FCFCFC;
	position: fixed;
	top: 0;
	font-family: Segoe UI Light;
	color: black;
	margin-left: -10px;
	width: calc(100% + 10px);
	max-height: 70px;
}

.headerbuttons{
	height:70px;
	width:125px;
	font-size: 20px;
	background: #FCFCFC;
	font-family: Segoe UI;
	border: none;
	color: #303030;
	width: auto;
	padding: 0px 15px 0px 15px;
	transition: 0.4s;
	outline: none;
}

.headerbuttons:hover {
	background: rgba(243, 236, 248, 1)
}

.right {
	float:right;
}

#headername {
	font-family: Airways;
	height:70px;
	font-size: 20px;
	background: #FCFCFC;
	padding-left: 15px;
	border: none;
	color: #303030;
	width: auto;
	transition: 0.4s;
	outline: none;

}

#headername:hover {
	background: rgba(243, 236, 248, 1)
}

#welkom {
	text-align: center;
	color: black;
	font-weight: 100;
}

#main {
	background: #2fc9ae;
	height: 100vh;
	width: 100%;
	padding-top: 150px;
}

#main1 {
	background: white;
	height: 100vh;
	width: 100%;
	padding-top: 100px;
}

#main2 {
	background: #ECECEC;
	height: 100vh;
	width: 100%;
	padding-top: 100px;
}

#main3 {
	background: white;
	height: 100vh;
	width: 100%;
	padding-top: 100px;
}

h1 {
	text-align: center;
	color: white;
	font-weight: 100;
}

p {
	text-align: center;
	font-size: 18px;
	color: white;
}

.card-panel {
	background: #F0F0F0;
	padding: 10px 10px 10px 10px;
	font-size: 25px;
	width: 500px;
	height: auto;
	border-radius: 5px;
	color: black;
	margin-bottom:20px;
	margin: auto;
}

.card-panel2 {
	background: #F6F6F6;
	padding: 10px 10px 10px 10px;
	font-size: 25px;
	width: 350px;
	height: auto;
	border-radius: 5px;
	color: black;
	margin-right: 30px;
}

#aitext {
	color: black;
}

h2 {
	color: black;
	text-align: center;
	font-weight: 100;
	font-size: 25px;
}

#tableai {
	margin: auto;
	width: 100%;
	font-size: 19px;
}

.kopjes {
	margin-bottom: 70px;
	text-align: center;
}

.omtext {
	color: black;
	font-size: 19px;
}

.zaad {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.text {
	color: black;
	font-size: 17px;
}

@media screen and (max-width: 1024px) {
	* {
		margin:0;
	}

	@font-face {
    	font-family: Airways;
    	src: url(../font/Airways.ttf);
	}

	body {
		font-family: Segoe UI Light;
		background-color: white;
	}

	

	.right {
		float:right;
	}

	#headername {
		font-family: Airways;
		height:70px;
		font-size: 20px;
		background: #FCFCFC;
		padding-left: 15px;
		border: none;
		color: #303030;
		width: auto;
		transition: 0.4s;
		outline: none;
	}

	#headername:hover {
		background: rgba(243, 236, 248, 1)
	}

	#welkom {
		text-align: center;
		color: black;
		font-weight: 100;
	}

	#main {
		background: #2fc9ae;
		height: 100vh;
		width: 100%;
		padding-top: 150px;
	}

	#main1 {
		background: white;
		height: 100vh;
		width: 100%;
		padding-top: 100px;
	}

	#main2 {
		background: #ECECEC;
		height: 100vh;
		width: 100%;
		padding-top: 100px;
	}

	#main3 {
		background: white;
		height: 100vh;
		width: 100%;
		padding-top: 100px;
	}

	h1 {
		text-align: center;
		color: white;
		font-weight: 100;
	}

	p {
		text-align: center;
		font-size: 18px;
		color: white;
	}

	.card-panel {
		background: #F0F0F0;
		padding: 10px 10px 10px 10px;
		font-size: 25px;
		width: 500px;
		height: auto;
		border-radius: 5px;
		color: black;
		margin-bottom:20px;
		margin: auto;
	}

	.card-panel2 {
		background: #F6F6F6;
		padding: 10px 10px 10px 10px;
		font-size: 25px;
		width: 350px;
		height: auto;
		border-radius: 5px;
		color: black;
		margin-right: 30px;
	}

	#aitext {
		color: black;
	}

	h2 {
		color: black;
		text-align: center;
		font-weight: 100;
		font-size: 25px;
	}

	#tableai {
		margin: auto;
		width: 100%;
		font-size: 19px;
	}

	.kopjes {
		margin-bottom: 70px;
		text-align: center;
	}

	.omtext {
		color: black;
		font-size: 19px;
	}

	.zaad {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.text {
		color: black;
		font-size: 17px;
	}
}